/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author jtredway
******************************************************/

html {
	box-sizing: border-box;
	font-family: "Liberation Mono", monospace;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*.clearfix {*/
	/*clear: both;*/
/*}*/

/* UNIVERSAL STYLES: */
@font-face {
	font-family: "Liberation Mono";
	src: url(./LiberationMono-Regular.ttf);
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
}

* {
	border: 1px solid red;
}

/* HEADER: */
header .container {
	display: flex;
	width: 100%;
	height: 5rem;
	align-items: center;
	justify-content: space-between;
	color: #00ff02;
	background-color: #333333;
	border-bottom: 1px solid #000000;
}
/* INSTRUCTIONS PANEL: */
.instructions {
	width: 100%
}

.instructions .container {

}

.image-container {
	width: 50%;
	margin: 3rem auto 1rem auto;
	border: 1px solid red;
}

.image {
	width: 100%;
	height: auto;
}

instructions-wrapper {
	border: 2px solid black;
}

/* ABOUT ME: */

/*PROFESSIONAL SKILLZ:*/

/*CONTACT FORM*/

/* FOOTER: */
/*.sfooter {*/
/*display: flex;*/
/*flex-direction: column;*/
/*min-height: 100vh;*/
/*}*/

/*.sfooter-content {*/
/*flex: 1 0 auto;*/
/*}*/

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}