/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author jtredway
******************************************************/

/* UNIVERSAL STYLES: */
html {
	box-sizing: border-box;
	font-family: "Liberation Mono", monospace;
}

*, *:before, *:after {
	box-sizing: inherit;
}

@font-face {
	font-family: "Liberation Mono";
	src: url(./LiberationMono-Regular.ttf);
}

@font-face {
	font-family: "Liberation Mono Bold";
	src: url(./LiberationMono-Bold.ttf);
}

img {
	width: 100%;
	height: auto;
}


/* HEADER: */
header {
	width: 100%;
	min-height: 5rem;
	color: #00ff02;
	background-color: #333333;
	border-bottom: 1px solid #000000;
	display: flex;
	justify-content: center;
}

.header-flex-container {
	display: flex;
	flex-flow: wrap;
	width: 80%;
	/* min-height: inherit; */
	align-items: center;
	justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
	.header-flex-container {
		flex-flow: nowrap;
	}
}

.header-flex-container h1 {
	margin-right: 2rem;
	font-size: 3rem;
}

/* INSTRUCTIONS PANEL: */
.instructions {
	width: 100%;
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* hero image: */
.instructions > .image-wrapper {
	flex-basis: 55%;
	flex: 0 1 auto;
	margin: 3rem auto;
	padding: 0 1rem;
}

.instructions > .container {
	border: 5px solid black;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;
	width: 80%;
}

@media only screen and (min-width: 1020px) {
	.instructions > .container {
		justify-content: space-between;
	}
}

.instructions > .container > .content-wrapper {
	width: 50%;
	margin: 2rem;
	min-width: 17rem;
	word-wrap: break-word;
	padding: 0;
}

.instructions > .container > .content-wrapper h3 {
	font-family: "Liberation Mono Bold";
	font-size: 1.5rem;
	margin-top: 0;
}

/*image wrapper for Captain Janeway:*/
.instructions > .container > .image-wrapper {
	/* width: 25%; */
	margin: 2rem;
	width: 17rem;
}

/* ABOUT ME: */
.about-me {
	width: 100%;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
}

.about-me > .container {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;
	width: 80%;
	border: 1px solid red;
}

@media only screen and (min-width: 1200px) {
	.about-me > .container {
		justify-content: space-between;
	}
}

/*image wrapper for Captain Picard:*/
.about-me > .container > .image-wrapper {
	width: 30%;
	margin: 2rem;
	border: 2px solid white;
	min-width: 20rem;
	border: 1px solid red;
}

@media only screen and (min-width: 1200px) {
	.about-me > .container > .image-wrapper {
		margin: 2rem 2rem 2rem 0rem;
	}
}

.about-me > .container > .content-wrapper {
	min-width: 17rem;
	flex-basis: 60%;
	/* max-width: 60%;
	max-height: 70%; */
	color: white;
	margin: 2rem;
	border: 1px solid red;
}

@media only screen and (min-width: 1200px) {
	.about-me > .container > .content-wrapper {
		margin: 2rem 0 2rem 2rem;
		width: 40%;
	}
}

.about-me > .content > span {
	color: yellow;
	font-style: italic;
	font-weight: bold;
}

/*PROFESSIONAL SKILLZ:*/
.skillz {
	width: 80%;
	margin: 2rem auto;
}

.skillz h3 {
	float: right;
	font-family: "Liberation Mono Bold";
	font-size: 1.5rem;
}

table {
	table-layout: auto;
	width: 100%;
	margin-bottom: 3rem;
}

table, td, th {
	border-collapse: collapse;
	background-color: #333333;
	border: 2px solid white;
	color: #00ff02;
}

th, td {
	height: 3rem;
	padding: .5rem;
	text-align: left;
}

@media only screen and (min-width: 750px) {
	th, td {
		padding: 1rem;
	}
}

/*CONTACT FORM*/
.contact-form {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #333333;
}

.contact-form > .container {
	width: 80%;
	margin: 3rem 0 3rem 0;
	background-color: darkgreen;
	color: #00ff02;
}

.contact-form > .container h2, .contact-form > .container label, .contact-form > .container input, .contact-form > .container textarea {
	display: block;
	margin: 1.5rem;
}

.contact-form > .container textarea {
	max-width: 17rem;
}

.contact-form > .container button {
	margin: 0 0 1.5rem 1.5rem;
	background-color: #00ff02;
	color: #333333;
	font-family: sans-serif;
	font-weight: bold;
	padding: .5rem 2rem;
}

/* FOOTER */
footer {
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
}

footer > .container {
	width: 80%;
	color: white;
	margin: 0 auto;
	border: 1px solid red;
	display: flex;
	justify-content: center;
}

footer > .container h4 {
	text-align: center;
}

