/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author jtredway
******************************************************/

/* UNIVERSAL STYLES: */
html {
	box-sizing: border-box;
	font-family: "Liberation Mono", monospace;
}

*, *:before, *:after {
	box-sizing: inherit;
}

@font-face {
	font-family: "Liberation Mono";
	src: url(./LiberationMono-Regular.ttf);
}

p, li {
	font-size: 12px;
}

.container {
	width: 100%;
	margin: 0 auto;
	border: 1px solid red;
	/*padding: 0 2rem;*/
}

.image {
	width: 100%;
	height: auto;
}

section {
	width: 100%;
}


/* HEADER: */
header {
	display: flex;
	width: 100%;
	height: 5rem;
	align-items: center;
	justify-content: space-around;
	color: #00ff02;
	background-color: #333333;
	border-bottom: 1px solid #000000;
}
/* INSTRUCTIONS PANEL: */
.instructions {
	width: 78%;
	margin: 2rem auto;
}

.hero-image-container {
	width: 50%;
	margin: 3rem auto 1rem auto;
}

.instructions-wrapper {
	border: 3px solid black;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.instructions-content {
	width: 50%;
	margin: 2rem;
}

.instructions-image-container {
	width: 25%;
	margin: 2rem;
}

/* ABOUT ME: */
.about-me {
	width: 100%;
	background-color: blue;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
}

.about-me-image-container {
	width: 25%;
	border: 2px solid white;
	margin: 2rem;
	margin-left: auto;
}

.about-me-content {
	width: 50%;
	color: white;
	margin-right: auto;
}

.about-me-content span {
	color: yellow;
	font-style: italic;
	font-weight: bold;
}

/*PROFESSIONAL SKILLZ:*/
.skillz {
	width: 78%;
	margin: 2rem auto;
}

.skillz h3 {
	float: right;
}

table {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 3rem;
}

table, td, th {
	border-collapse: collapse;
	background-color: #333333;
	border: 2px solid white;
	color: #00ff02;
}

th, td {
	height: 3rem;
}
/*CONTACT FORM*/

/* FOOTER: */
/*.sfooter {*/
/*display: flex;*/
/*flex-direction: column;*/
/*min-height: 100vh;*/
/*}*/

/*.sfooter-content {*/
/*flex: 1 0 auto;*/
/*}*/

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}